nav {
    background: white;
    opacity: 80%;
    
    width: 99%;
    height: 70px;
    overflow: hidden;
    position: fixed;
    border-radius: 30px;
    box-shadow: 2px 2px 5px gray;

}

#navigation {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
#navigation li {
    font-family: lato;
    display: inline-block;
    
    margin-left: 70px;
}

#logo-hp {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    width: fit-content;
}